<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.fakult.triviatour"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PackageDisplayScreen"
            android:label="@string/title_activity_package_display_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".StoreScreen"
            android:label="@string/title_activity_store_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".StoreSearchActivity"
            android:label="@string/title_activity_store_search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".StoreDisplayScreen"
            android:label="@string/title_activity_store_display_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
